* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

body {
    background: #0a0627;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}