.header {
    width: 100%;
    position: fixed;
    display: grid;
    place-items: center;
    height: 60px;
    backdrop-filter: blur(5px); /* размытие */
}

.header__inner {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    color: #3bceca;
    font-size: 40px;
}

.nav__link {
    text-decoration: none;
    font-size: 16px;
    color: #3bceca;
}

.nav__link:not(:first-child) {
    margin-left: 25px;
}

.auth, .register {
    color: #3bceca;
    transition: .2s linear;
    cursor: pointer;
}

.auth {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #3bceca;
    margin-right: 10px;
}

.auth:hover {
    background: #3bceca;
    color: #00101c;
}

.register {
    opacity: 0.6;
}

.register:hover {
    opacity: 1;
}